[Desktop Entry]
Type=Application

Name=%{APPNAME}
GenericName=A Simple KDE Application
Icon=%{APPNAMELC}

Exec=%{APPNAMELC}
StartupWMClass=%{APPNAMELC}
