[Desktop Entry]
Encoding=UTF-8
Name=%{APPNAME}
Exec=%{APPNAMELC} %i %m -caption "%c"
Icon=%{APPNAMELC}
Type=Application
DocPath=%{APPNAMELC}/index.html
GenericName=A KDE KPart Application
GenericName[et]=KDE KPart rakendus
GenericName[sv]=Ett KDE KPart-program
Terminal=0
