[Desktop Entry]
Encoding=UTF-8
Name=%{APPNAME}
Exec=%{APPNAMELC} %i %m -caption "%c"
Icon=%{APPNAMELC}
Type=Application
DocPath=%{APPNAMELC}/index.html
GenericName=A KDE KPart Application
Terminal=0
