[Desktop Entry]
Name=%{APPNAME}
Name[x-test]=xx%{APPNAME}xx
Exec=%{APPNAMELC} %i -caption "%c"
Icon=%{APPNAMELC}
Type=Application
X-DocPath=%{APPNAMELC}/index.html
GenericName=A KDE KPart Application
GenericName[ca]=Una aplicació KPart del KDE
GenericName[cs]=Aplikace KDE KPart
GenericName[da]=Et KDE KPart-program
GenericName[de]=Eine KDE-KPart-Anwendung
GenericName[el]=Μια εφαρμογή KDE KPart
GenericName[es]=Una aplicación KPart de KDE
GenericName[et]=KDE KPart rakendus
GenericName[fr]=Une application KPart pour KDE
GenericName[ga]=Feidhmchlár KPart KDE
GenericName[gl]=Unha aplicación KPart de KDE
GenericName[hu]=KDE KPart-alkalmazás
GenericName[it]=Un'applicazione KPart di KDE
GenericName[ja]=KDE KPart アプリケーション
GenericName[km]=កម្មវិធី KDE KPart
GenericName[ko]=KDE KPart 프로그램
GenericName[lv]=KDE KPart lietotne
GenericName[nds]=En KPart-Komponent för KDE
GenericName[nl]=Een KDE KPart-programma
GenericName[pl]=Moduł KDE KPart
GenericName[pt]=Uma Aplicação KPart do KDE
GenericName[pt_BR]=Um aplicativo KPart do KDE
GenericName[ro]=O aplicație KPart KDE
GenericName[ru]=Приложение KPart для KDE
GenericName[sr]=КДЕ к‑део
GenericName[sr@latin]=KDE k‑deo
GenericName[sv]=Ett KDE KPart-program
GenericName[tr]=Bir KDE KPart Uygulaması
GenericName[uk]=Програма KPart для KDE
GenericName[x-test]=xxA KDE KPart Applicationxx
GenericName[zh_CN]=KDE KPart 应用程序
GenericName[zh_TW]=KDE KPart 應用程式
Terminal=false
