# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kapptemplate
X-DocPath=kapptemplate/index.html
GenericName=KDE Template Generator
GenericName[pt]=Gerador de Modelos do KDE
GenericName[pt_BR]=Gerador de Modelos do KDE
GenericName[sv]=KDE mallgenerator
Terminal=false
Name=KAppTemplate
Name[sv]=Kapptemplate
Categories=Qt;KDE;Development;
