# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kapptemplate
X-DocPath=kapptemplate/index.html
GenericName=KDE Template Generator
GenericName[de]=KDE-Vorlagen-Generator
GenericName[el]=Δημιουργός προτύπων KDE
GenericName[km]=កម្មវិធី​បង្កើត​ពុម្ព​របស់ KDE
GenericName[lv]=KDE sagatavju ģenerators
GenericName[pt]=Gerador de Modelos do KDE
GenericName[pt_BR]=Gerador de Modelos do KDE
GenericName[sv]=KDE mallgenerator
GenericName[tr]=KDE Şablon Oluşturucu
GenericName[uk]=Створення шаблонів KDE
GenericName[x-test]=xxKDE Template Generatorxx
GenericName[zh_TW]=KDE 樣本產生器
Terminal=false
Name=KAppTemplate
Name[km]=ពុម្ព​របស់ KApp
Name[sv]=Kapptemplate
Name[x-test]=xxKAppTemplatexx
Categories=Qt;KDE;Development;
