# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kapptemplate
DocPath=kapptemplate/index.html
GenericName=KDE Template Generator
GenericName[x-test]=xxKDE Template Generatorxx
Terminal=true
Name=KAppTemplate
Name[x-test]=xxKAppTemplatexx
Categories=Qt;KDE;Development;
