[Desktop Entry]
Name=%{APPNAMELC}
Name[ca]=%{APPNAMELC}
Name[ca@valencia]=%{APPNAMELC}
Name[cs]=%{APPNAMELC}
Name[da]=%{APPNAMELC}
Name[de]=%{APPNAMELC}
Name[en_GB]=%{APPNAMELC}
Name[es]=%{APPNAMELC}
Name[fi]=%{APPNAMELC}
Name[gl]=%{APPNAMELC}
Name[it]=%{APPNAMELC}
Name[ko]=%{APPNAMELC}
Name[nl]=%{APPNAMELC}
Name[pl]=%{APPNAMELC}
Name[pt]=%{APPNAMELC}
Name[pt_BR]=%{APPNAMELC}
Name[ru]=%{APPNAMELC}
Name[sk]=%{APPNAMELC}
Name[sl]=%{APPNAMELC}
Name[sr]=%{APPNAMELC}
Name[sr@ijekavian]=%{APPNAMELC}
Name[sr@ijekavianlatin]=%{APPNAMELC}
Name[sr@latin]=%{APPNAMELC}
Name[sv]=%{APPNAMELC}
Name[tr]=%{APPNAMELC}
Name[uk]=%{APPNAMELC}
Name[x-test]=xx%{APPNAMELC}xx
Name[zh_TW]=%{APPNAMELC}
Exec=%{APPNAMELC}
Icon=%{APPNAMELC}
Type=Application
X-DocPath=%{APPNAMELC}/index.html
GenericName=A KDE Application
GenericName[ca]=Una aplicació pel KDE
GenericName[ca@valencia]=Una aplicació pel KDE
GenericName[cs]=Aplikace prostředí KDE
GenericName[da]=Et KDE-program
GenericName[de]=Eine KDE-Anwendung
GenericName[en_GB]=A KDE Application
GenericName[es]=Una aplicación para KDE
GenericName[fi]=KDE-sovellus
GenericName[gl]=Programa de KDE
GenericName[it]=Un'applicazione di KDE
GenericName[ko]=KDE 프로그램
GenericName[nl]=Een KDE-toepassing
GenericName[nn]=Eit KDE-program
GenericName[pl]=Program dla KDE
GenericName[pt]=Uma Aplicação do KDE
GenericName[pt_BR]=Um aplicativo do KDE
GenericName[ru]=Приложение KDE
GenericName[sk]=KDE Aplikácia
GenericName[sl]=Program za KDE
GenericName[sr]=КДЕ програм
GenericName[sr@ijekavian]=КДЕ програм
GenericName[sr@ijekavianlatin]=KDE program
GenericName[sr@latin]=KDE program
GenericName[sv]=Ett KDE-program
GenericName[tr]=Bir KDE4 Uygulaması
GenericName[uk]=Програма для KDE
GenericName[x-test]=xxA KDE Applicationxx
GenericName[zh_CN]=KDE 应用程序
GenericName[zh_TW]=KDE 應用程式
