[Desktop Entry]
Name=%{APPNAMELC}
Name[ca]=%{APPNAMELC}
Name[ca@valencia]=%{APPNAMELC}
Name[cs]=%{APPNAMELC}
Name[da]=%{APPNAMELC}
Name[de]=%{APPNAMELC}
Name[en_GB]=%{APPNAMELC}
Name[es]=%{APPNAMELC}
Name[et]=%{APPNAMELC}
Name[fi]=%{APPNAMELC}
Name[gl]=%{APPNAMELC}
Name[it]=%{APPNAMELC}
Name[ko]=%{APPNAMELC}
Name[nl]=%{APPNAMELC}
Name[pl]=%{APPNAMELC}
Name[pt]=%{APPNAMELC}
Name[pt_BR]=%{APPNAMELC}
Name[ru]=%{APPNAMELC}
Name[sk]=%{APPNAMELC}
Name[sl]=%{APPNAMELC}
Name[sr]=%{APPNAMELC}
Name[sr@ijekavian]=%{APPNAMELC}
Name[sr@ijekavianlatin]=%{APPNAMELC}
Name[sr@latin]=%{APPNAMELC}
Name[sv]=%{APPNAMELC}
Name[tr]=%{APPNAMELC}
Name[uk]=%{APPNAMELC}
Name[x-test]=xx%{APPNAMELC}xx
Name[zh_TW]=%{APPNAMELC}
Exec=%{APPNAMELC}
Icon=%{APPNAMELC}
Type=Application
X-DocPath=%{APPNAMELC}/index.html
GenericName=A Simple Application written with KDE Frameworks
GenericName[ca]=Una aplicació senzilla escrita amb els Frameworks del KDE
GenericName[ca@valencia]=Una aplicació senzilla escrita amb els Frameworks del KDE
GenericName[da]=Et simpelt program skrevet med KDE Frameworks
GenericName[de]=Eine einfache Anwendung geschrieben mit KDE Frameworks
GenericName[en_GB]=A Simple Application written with KDE Frameworks
GenericName[es]=Una aplicación sencilla escrita con KDE Frameworks
GenericName[et]=Lihtne KDE Frameworksis kirjutatud rakendus
GenericName[fi]=Yksinkertainen KDE Frameworksillä kirjoitettu sovellus
GenericName[gl]=Un programa sinxelo creado coas infraestruturas de KDE
GenericName[it]=Una semplice applicazione grafica scritta con KDE Frameworks
GenericName[nl]=Een eenvoudige toepassing geschreven met KDE Frameworks
GenericName[pl]=Prosta aplikacja napisana przy wykorzystaniu Szkieletów KDE
GenericName[pt]=Uma Aplicação Simples feita com as Plataformas do KDE
GenericName[pt_BR]=Um aplicativo simples escrito com o KDE Frameworks
GenericName[sk]=Jednoduchá aplikácia napísaná pomocou KDE Frameworks
GenericName[sl]=Preprost program spisan v KDE-jevih ogrodjih
GenericName[sr]=Једноставан програм написан над Радним оквирима КДЕ‑а
GenericName[sr@ijekavian]=Једноставан програм написан над Радним оквирима КДЕ‑а
GenericName[sr@ijekavianlatin]=Jednostavan program napisan nad Radnim okvirima KDE‑a
GenericName[sr@latin]=Jednostavan program napisan nad Radnim okvirima KDE‑a
GenericName[sv]=Ett enkelt program skrivet med KDE:s ramverk
GenericName[uk]=Проста програма, написана за допомогою KDE Frameworks
GenericName[x-test]=xxA Simple Application written with KDE Frameworksxx
