[Desktop Entry]
Encoding=UTF-8
Name=%{APPNAME}
Exec=%{APPNAMELC} %i -caption "%c"
Icon=%{APPNAMELC}
Type=Application
DocPath=%{APPNAMELC}/index.html
GenericName=A KDE4 Application
GenericName[es]=Una aplicación de KDE4
GenericName[ga]=Feidhmchlár KDE4
GenericName[gl]=Un programa de KDE4
GenericName[it]=Un'applicazione di KDE 4
GenericName[nds]=En KDE4-Programm
GenericName[pt]=Uma Aplicação do KDE4
GenericName[pt_BR]=Uma Aplicação do KDE4
GenericName[sr]=КДЕ4 програм
GenericName[sr@latin]=KDE4 program
GenericName[sv]=Ett KDE4-program
GenericName[tr]=Bir KDE4 Uygulaması
GenericName[uk]=Програма для KDE4
GenericName[zh_CN]=KDE4 应用程序
GenericName[zh_TW]=KDE4 應用程式
Terminal=0

