[Desktop Entry]
Encoding=UTF-8
Name=%{APPNAME}
Exec=%{APPNAMELC} %i -caption "%c"
Icon=%{APPNAMELC}
Type=Application
DocPath=%{APPNAMELC}/index.html
GenericName=A KDE4 Application
GenericName[ga]=Feidhmchlár KDE4
GenericName[it]=Un'applicazione di KDE 4
GenericName[pt]=Uma Aplicação do KDE4
GenericName[pt_BR]=Uma Aplicação do KDE4
GenericName[sv]=Ett KDE4-program
GenericName[uk]=Програма для KDE4
GenericName[zh_CN]=KDE4 应用程序
GenericName[zh_TW]=KDE4 應用程式
Terminal=0

