[Desktop Entry]
Name=%{APPNAME}
Exec=krubyapplication %{APPNAMELC}/main.rb %i -caption %c
Icon=%{APPNAMELC}
Type=Application
X-DocPath=%{APPNAMELC}/index.html
GenericName=A KDE4 Ruby Application
Terminal=false
