[Desktop Entry]
Type=Application

Name=%{APPNAME}
GenericName=A Simple Application written with KDE Frameworks
Icon=%{APPNAMELC}

Exec=%{APPNAMELC}
StartupWMClass=%{APPNAMELC}
X-DocPath=%{APPNAMELC}/index.html
