[Desktop Entry]
X-SuSE-translate=true
Encoding=UTF-8
Name=%{APPNAME} Shape
Name[ca]=Forma %{APPNAME}
Name[da]=%{APPNAME} Form
Name[en_GB]=%{APPNAME} Shape
Name[et]=%{APPNAME} kujund
Name[fr]=Forme %{APPNAME}
Name[gl]=Forma de %{APPNAME}
Name[it]=Forma %{APPNAME}
Name[nb]=%{APPNAME}-form
Name[nl]=%{APPNAME}-vorm
Name[pt]=Forma %{APPNAME}
Name[pt_BR]=Forma %{APPNAME}
Name[sr]=Облик за %{APPNAME}
Name[sr@ijekavian]=Облик за %{APPNAME}
Name[sr@ijekavianlatin]=Oblik za %{APPNAME}
Name[sr@latin]=Oblik za %{APPNAME}
Name[sv]=%{APPNAME} form
Name[uk]=Форма %{APPNAME}
Name[x-test]=xx%{APPNAME} Shapexx
Name[zh_CN]=%{APPNAME} 型板
Name[zh_TW]=%{APPNAME} 元件
Comment=%{APPNAME} Flake Shape
Comment[ca]=Forma de Flake %{APPNAME}
Comment[da]=%{APPNAME} Flake-form
Comment[en_GB]=%{APPNAME} Flake Shape
Comment[et]=%{APPNAME} Flake'i kujund
Comment[fr]=Forme de Flake %{APPNAME}
Comment[gl]=Forma flake de %{APPNAME}
Comment[it]=Forma di Flake di %{APPNAME}
Comment[nb]=%{APPNAME}-flakform
Comment[nl]=%{APPNAME}-vlokkenvorm
Comment[pt]=Forma do Flake %{APPNAME}
Comment[pt_BR]=Forma do Flake %{APPNAME}
Comment[sr]=Облик за %{APPNAME} (Флејк)
Comment[sr@ijekavian]=Облик за %{APPNAME} (Флејк)
Comment[sr@ijekavianlatin]=Oblik za %{APPNAME} (Flake)
Comment[sr@latin]=Oblik za %{APPNAME} (Flake)
Comment[sv]=%{APPNAME} flingform
Comment[uk]=Форма луски %{APPNAME}
Comment[x-test]=xx%{APPNAME} Flake Shapexx
Comment[zh_CN]=%{APPNAME} 型板
Comment[zh_TW]=%{APPNAME} Flake 元件
ServiceTypes=KOffice/Flake
Type=Service
X-KDE-Library=%{APPNAMELC}shape
X-Flake-Version=1
X-Flake-PluginVersion=%{VERSION}
X-Flake-MinVersion=0
X-KDE-PluginInfo-Author=%{AUTHOR}
X-KDE-PluginInfo-Email=%{EMAIL}
X-KDE-PluginInfo-Name=%{APPNAMELC}
X-KDE-PluginInfo-Version=%{VERSION}
X-KDE-PluginInfo-Website=http://koffice.org/
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
