[Desktop Entry]
X-SuSE-translate=true
Encoding=UTF-8
Name=%{APPNAME} Shape
Name[en_GB]=%{APPNAME} Shape
Name[pt]=Forma %{APPNAME}
Name[pt_BR]=Forma %{APPNAME}
Name[sv]=%{APPNAME} form
Name[uk]=Форма %{APPNAME}
Name[x-test]=xx%{APPNAME} Shapexx
Name[zh_TW]=%{APPNAME} 元件
Comment=%{APPNAME} Flake Shape
Comment[en_GB]=%{APPNAME} Flake Shape
Comment[pt]=Forma do Flake %{APPNAME}
Comment[pt_BR]=Forma do Flake %{APPNAME}
Comment[sv]=%{APPNAME} flingform
Comment[uk]=Форма луски %{APPNAME}
Comment[x-test]=xx%{APPNAME} Flake Shapexx
Comment[zh_TW]=%{APPNAME} Flake 元件
ServiceTypes=KOffice/Flake
Type=Service
X-KDE-Library=%{APPNAMELC}shape
X-Flake-Version=1
X-Flake-PluginVersion=0.0.1
X-Flake-MinVersion=0
X-KDE-PluginInfo-Author=%{AUTHOR}
X-KDE-PluginInfo-Email=%{EMAIL}
X-KDE-PluginInfo-Name=%{APPNAMELC}
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://koffice.org/
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
