[Desktop Entry]
Name=%{APPNAME}
Exec=%{APPNAMELC} %i -caption %c
Icon=%{APPNAMELC}
Type=Application
X-DocPath=%{APPNAMELC}/index.html
GenericName=A KDE KPart Application
Terminal=false
