echo "Creating $LOCATION_ROOT/${APP_NAME_LC}/${APP_NAME_LC}.desktop...";
cat << EOF > $LOCATION_ROOT/${APP_NAME_LC}/${APP_NAME_LC}.desktop
[Desktop Entry]
Name=${APP_NAME}
Exec=${APP_NAME_LC} %i %m -caption "%c"
Icon=${APP_NAME_LC}
Type=Application
DocPath=${APP_NAME_LC}/${APP_NAME_LC}.html
Comment=A KDE Application
Comment[ca]=Una aplicació KDE
Comment[cs]=KDE aplikace
Comment[da]=En KDE anvendelse
Comment[de]= Ein KDE-Programm
Comment[fi]=KDE sovellus
Comment[hu]=KDE alkalmazás
Comment[ja]=KDE¥¢¥×¥ê¥±¡¼¥·¥ç¥ó
Comment[no]=En KDE-applikasjon
Comment[no_NY]=Eit KDE-program
Comment[sv]=Ett KDE-program
Terminal=0
