echo "Creating $LOCATION_ROOT/${APP_NAME_LC}/${APP_NAME_LC}.desktop...";
cat << EOF > $LOCATION_ROOT/${APP_NAME_LC}/${APP_NAME_LC}.desktop
[Desktop Entry]
Encoding=UTF-8
Name=${APP_NAME}
Name[es]=${NOMBRE_APLIC}
Name[xx]=xx
Exec=${APP_NAME_LC} %i %m -caption "%c"
Icon=${APP_NAME_LC}
Type=Application
DocPath=${APP_NAME_LC}/${APP_NAME_LC}.html
Comment=A KDE KPart Application
Comment[af]='n kde k-deel aansoek
Comment[az]=KDE Kpart Proqramı
Comment[bg]=Приложение KPart KDE
Comment[cs]=Aplikace typu KPart
Comment[da]=Et KDE KPart-program
Comment[de]=Ein KDE-Programm
Comment[el]=Μια εφαρμογή KDE KPart
Comment[eo]=KDEa Parto-aplikaĵo
Comment[es]=Una aplicación KPart para KDE
Comment[et]=KDE KPart rakendus
Comment[eu]=KDEren KPart Aplikazioa
Comment[fi]=KDE KPart sovellus
Comment[fr]=Une application kParts pour KDE
Comment[he]=יישום KPart של KDE
Comment[hu]=Egy KDE KPart tesztalkalmazás
Comment[id]=Aplikasi KPart KDE
Comment[is]=KDE KPart forrit
Comment[it]=Un'applicazione KPart di KDE
Comment[ja]=KDE KPart アプリケーション
Comment[ko]=KDE용 KPart 응용 프로그램
Comment[lt]=KDE KPart programa
Comment[lv]=KDE KPart Aplikācija
Comment[mt]=Programm KDE KPart
Comment[nb]=En KDE KPart-applikasjon
Comment[nl]=een KDE KPart-applicatie
Comment[nn]=Eit KDE KPart-program
Comment[pl]=Aplikacja składnika KDE
Comment[pt]=Uma aplicação KPart
Comment[pt_BR]=Uma aplicação KPart do KDE
Comment[ru]=Приложение KPart KDE
Comment[sk]=KDE KPart aplikácia
Comment[sl]=Program za KDE KPart
Comment[sr]=KDE KPart aplikacija
Comment[sv]=Ett delprogram för KDE (Kpart)
Comment[ta]=´Õ KDE KPart ¿¢Ãø
Comment[tr]=KDE Kpart Uygulaması
Comment[uk]=Програма KPart для KDE
Comment[vi]=Một chương trình KPart của KDE 
Comment[xh]=Iqela lesicelo se K ye KDE
Comment[xx]=xx
Comment[zh_CN]=KDE KPart程序
Comment[zh_TW]=KDE KPart程式
Comment[zu]=Iqela lesicelo se K ye KDE
Terminal=0
