echo "Creating $LOCATION_ROOT/${APP_NAME_LC}/${APP_NAME_LC}.desktop...";
cat << EOF > $LOCATION_ROOT/${APP_NAME_LC}/${APP_NAME_LC}.desktop
[Desktop Entry]
Encoding=UTF-8
Name=${APP_NAME}
Name[es]=${NOMBRE_APLIC}
Name[ven]=${APP_DZINA}
Exec=${APP_NAME_LC} %i %m -caption "%c"
Icon=${APP_NAME_LC}
Type=Application
DocPath=${APP_NAME_LC}/${APP_NAME_LC}.html
GenericName=A KDE Application
GenericName[af]='n Kde Aansoek
GenericName[ar]=تطبيق KDE
GenericName[az]=Bir KDE Proqramı
GenericName[bg]=Приложение на KDE
GenericName[br]=Un arload KDE
GenericName[bs]=KDE aplikacija
GenericName[ca]=Una aplicació KDE
GenericName[cs]=Aplikace prostředí KDE
GenericName[da]=Et KDE-program
GenericName[de]=Ein KDE-Programm
GenericName[el]=Μια εφαρμογή KDE
GenericName[eo]=KDE-aplikaĵo
GenericName[es]=Una aplicación para KDE
GenericName[et]=KDE rakendus
GenericName[eu]=KDE Aplikazio Bat
GenericName[fi]=KDE sovellus
GenericName[fo]=Eitt KDE-forrit
GenericName[fr]=Application KDE
GenericName[he]=יישום של KDE
GenericName[hr]=KDE aplikacija
GenericName[hu]=Egy KDE tesztalkalmazás
GenericName[id]=Aplikasi KDE
GenericName[is]=KDE forrit
GenericName[it]=Un'applicazione di KDE
GenericName[ja]=KDEアプリケーション
GenericName[ko]=KDE용 응용 프로그램
GenericName[lt]=KDE programa
GenericName[lv]=KDE Aplikācija
GenericName[mt]=Programm KDE
GenericName[nb]=Et KDE-program
GenericName[nl]=een KDE-applicatie
GenericName[nn]=Eit KDE-program
GenericName[pl]=Aplikacja KDE
GenericName[pt]=Aplicação KDE
GenericName[pt_BR]=Uma aplicação do KDE
GenericName[ro]=O aplicaţie KDE
GenericName[ru]=Приложение KDE
GenericName[sk]=KDE Aplikácia
GenericName[sl]=Program za KDE
GenericName[sr]=KDE aplikacija
GenericName[sv]=Ett KDE-program
GenericName[ta]=KDE ¿¢Ãø
GenericName[th]=แอพพลิเคชัน KDE
GenericName[tr]=Bir KDE Uygulaması
GenericName[uk]=Програма KDE
GenericName[ven]=Apulifikhesheni ya KDE
GenericName[vi]=Một chương trình KDE 
GenericName[xh]=Isicelo se KDE
GenericName[zh_CN]=KDE 应用程序
GenericName[zh_TW]=KDE 應用程式
GenericName[zu]=Isicelo se KDE
Terminal=0
