echo "Creating $LOCATION_ROOT/${APP_NAME_LC}/${APP_NAME_LC}.desktop...";
cat << EOF > $LOCATION_ROOT/${APP_NAME_LC}/${APP_NAME_LC}.desktop
[Desktop Entry]
Name=${APP_NAME}
Name[es]=${NOMBRE_APLIC}
Exec=${APP_NAME_LC} %i %m -caption "%c"
Icon=${APP_NAME_LC}
Type=Application
DocPath=${APP_NAME_LC}/${APP_NAME_LC}.html
Comment=A KDE Application
Comment[af]=A KDE AANSOEK
Comment[az]=Bir KDE Proqramı
Comment[bg]=Приложение на KDE
Comment[br]=Un arload KDE
Comment[bs]=KDE aplikacija
Comment[ca]=Una aplicació KDE
Comment[cs]=Aplikace prostředí KDE
Comment[da]=Et KDE program
Comment[de]=Ein KDE-Programm
Comment[el]=Μια εφαρμογή KDE
Comment[eo]=KDE-aplikaĵo
Comment[es]=Una aplicación para KDE
Comment[et]=KDE rakendus
Comment[eu]=KDE Aplikazio Bat
Comment[fi]=KDE sovellus
Comment[fr]=Une application KDE
Comment[gl]=Unha aplicación de KDE
Comment[he]=KDE םושיי
Comment[hr]=KDE aplikacija
Comment[hu]=Egy KDE tesztalkalmazás
Comment[is]=knetmgr:  KDE forrit
Comment[it]=Un'applicazione di KDE
Comment[ja]=KDEアプリケーション
Comment[ko]=KDE용 응용 프로그램
Comment[lt]=KDE Programa
Comment[lv]=KDE Aplikācija
Comment[mk]=KDE апликација
Comment[mt]=Programm KDE
Comment[nl]=een KDE-applicatie
Comment[no]=En KDE-applikasjon
Comment[no_NY]=Eit KDE-program
Comment[oc]=Ua aplicacion KDE
Comment[pl]=Aplikacja KDE
Comment[pt_BR]=Uma aplicação do KDE
Comment[pt]=Uma aplicação KDE
Comment[ru]=Приложение KDE
Comment[sk]=KDE Aplikácia
Comment[sl]=Program za KDE
Comment[sr]=KDE aplikacija
Comment[sv]=Ett KDE-program
Comment[ta]=KDE ¿¢Ãø
Comment[tr]=Bir KDE Uygulaması
Comment[uk]=Програма KDE
Comment[vi]=Một chương trình KDE 
Comment[zh_CN.GB2312]=KDE 应用程序
Comment[zh_TW.Big5]=一個 KDE 應用程式
Terminal=0
