[Desktop Entry]
Encoding=UTF-8
Icon=internet-web-browser
Type=Service
X-KDE-Library=krubypluginfactory
X-KDE-PluginKeyword=%{APPNAME}/%{APPNAME}.rb
X-KDE-PluginInfo-Name=%{APPNAME}
X-KDE-PluginInfo-Version=%{VERSION}
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=konqueror
X-KDE-PluginInfo-Email=%{EMAIL}
X-KDE-PluginInfo-Author=%{AUTHOR}
X-KDE-PluginInfo-Website=
X-DocPath=%{APPNAMELC}/index.html
Comment=%{APPNAME} - You can write Konqueror-Plugins in Ruby
Name=%{APPNAME}
GenericName=%{APPNAME}
