[Desktop Entry]
Encoding=UTF-8
Name=%{APPNAME}
Exec=krubyapplication %{APPNAMELC}/main.rb %i -caption "%c"
Icon=%{APPNAMELC}
Type=Application
DocPath=%{APPNAMELC}/index.html
GenericName=A KDE4 Ruby Application
GenericName[pt]=Uma Aplicação em Ruby para o KDE4
GenericName[pt_BR]=Uma Aplicação em Ruby para o KDE4
GenericName[sv]=Ett KDE4 Ruby-program
Terminal=0

