[Desktop Entry]
Name=%{APPNAME}
Name[x-test]=xx%{APPNAME}xx
Exec=krubyapplication %{APPNAMELC}/main.rb %i -caption "%c"
Icon=%{APPNAMELC}
Type=Application
X-DocPath=%{APPNAMELC}/index.html
GenericName=A KDE4 Ruby Application
GenericName[ca]=Una aplicació Ruby del KDE4
GenericName[da]=Et KDE4 Ruby-program
GenericName[de]=KDE-4-Ruby-Anwendung
GenericName[el]=Μια εφαρμογή KDE4 Ruby
GenericName[es]=Una aplicación Ruby de KDE4
GenericName[et]=KDE4 Ruby rakendus
GenericName[fr]=Une application Ruby pour KDE4
GenericName[ga]=Feidhmchlár Ruby KDE4
GenericName[gl]=Un programa en ruby de KDE4
GenericName[hu]=KDE4 Ruby alkalmazás
GenericName[it]=Un'applicazione Ruby di KDE
GenericName[ja]=KDE 4 Ruby アプリケーション
GenericName[km]=កម្មវិធី KDE4 Ruby
GenericName[ko]=KDE4 루비 프로그램
GenericName[lv]=KDE4 Ruby programma
GenericName[nds]=En Ruby-Programm för KDE4
GenericName[nl]=Ruby KDE4-programma
GenericName[pa]=KDE4 ਰੂਬੀ ਐਪਲੀਕੇਸ਼ਨ
GenericName[pl]=Program KDE4 w języku Ruby
GenericName[pt]=Uma Aplicação em Ruby para o KDE4
GenericName[pt_BR]=Um aplicativo em Ruby para o KDE4
GenericName[ro]=O aplicație Ruby KDE 4
GenericName[ru]=Приложение KDE4 на языке Ruby
GenericName[sr]=КДЕ‑4 рубијевски програм
GenericName[sr@latin]=KDE4 ruby program
GenericName[sv]=Ett KDE4 Ruby-program
GenericName[tr]=Bir KDE4 Ruby Uygulaması
GenericName[uk]=Програма на Ruby для KDE4
GenericName[x-test]=xxA KDE4 Ruby Applicationxx
GenericName[zh_CN]=KDE4 Ruby 应用程序
GenericName[zh_TW]=KDE4 Ruby 應用程式
Terminal=false
