echo "Creating $LOCATION_ROOT/${APP_NAME_LC}ui.rc...";
cat << EOF > $LOCATION_ROOT/${APP_NAME_LC}ui.rc
<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="${APP_NAME}" version="1">
<MenuBar>
  <Menu name="move"><text>&amp;Move</text>
    <Action name="switch_action" />
  </Menu>
</MenuBar>
</kpartgui>
