[Desktop Entry]
Type=Service
Comment=%{APPNAME}
Comment[ca]=%{APPNAME}
Comment[en_GB]=%{APPNAME}
Comment[es]=%{APPNAME}
Comment[et]=%{APPNAME}
Comment[it]=%{APPNAME}
Comment[pt]=%{APPNAME}
Comment[pt_BR]=%{APPNAME}
Comment[sv]=%{APPNAME}
Comment[uk]=%{APPNAME}
Comment[x-test]=xx%{APPNAME}xx
Comment[zh_CN]=%{APPNAME}
Comment[zh_TW]=%{APPNAME}
Name=%{APPNAME}
Name[ca]=%{APPNAME}
Name[cs]=%{APPNAME}
Name[da]=%{APPNAME}
Name[de]=%{APPNAME}
Name[el]=%{APPNAME}
Name[en_GB]=%{APPNAME}
Name[eo]=%{APPNAME}
Name[es]=%{APPNAME}
Name[et]=%{APPNAME}
Name[fr]=%{APPNAME}
Name[ga]=%{APPNAME}
Name[gl]=%{APPNAME}
Name[hu]=%{APPNAME}
Name[it]=%{APPNAME}
Name[ja]=%{APPNAME}
Name[km]=%{APPNAME}
Name[ko]=%{APPNAME}
Name[lv]=%{APPNAME}
Name[nb]=%{APPNAME}
Name[nds]=%{APPNAME}
Name[nl]=%{APPNAME}
Name[nn]=%{APPNAME}
Name[pa]=%{APPNAME}
Name[pl]=%{APPNAME}
Name[pt]=%{APPNAME}
Name[pt_BR]=%{APPNAME}
Name[ro]=%{APPNAME}
Name[ru]=%{APPNAME}
Name[sr]=%{APPNAME}
Name[sr@ijekavian]=%{APPNAME}
Name[sr@ijekavianlatin]=%{APPNAME}
Name[sr@latin]=%{APPNAME}
Name[sv]=%{APPNAME}
Name[tr]=%{APPNAME}
Name[uk]=%{APPNAME}
Name[x-test]=xx%{APPNAME}xx
Name[zh_CN]=%{APPNAME}
Name[zh_TW]=%{APPNAME}
GenericName=%{APPNAME}
GenericName[ca]=%{APPNAME}
GenericName[en_GB]=%{APPNAME}
GenericName[es]=%{APPNAME}
GenericName[et]=%{APPNAME}
GenericName[it]=%{APPNAME}
GenericName[pt]=%{APPNAME}
GenericName[pt_BR]=%{APPNAME}
GenericName[sv]=%{APPNAME}
GenericName[uk]=%{APPNAME}
GenericName[x-test]=xx%{APPNAME}xx
GenericName[zh_CN]=%{APPNAME}
GenericName[zh_TW]=%{APPNAME}
Icon=kate
ServiceTypes=KTextEditor/Plugin
X-KDE-ServiceTypes=KTextEditor/Plugin
X-KDE-Library=ktexteditor_%{APPNAMELC}
X-KDE-PluginKeyword=ktexteditor_%{APPNAMELC}
X-KDE-PluginInfo-Name=ktexteditor_%{APPNAMELC}
X-KDE-PluginInfo-Author=%{AUTHOR}
X-KDE-PluginInfo-Email=%{EMAIL}
X-KDE-PluginInfo-Website=http://kate.kde.org
X-KDE-PluginInfo-Version=%{VERSION}
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Category=Editor
X-KDE-ParentApp=kate
X-KDE-Version=4.0
