[Misc]
Name=%{APPNAME} Serializer
Name[en_GB]=%{APPNAME} Serialiser
Name[es]=Serializador para %{APPNAME}
Name[et]=%{APPNAME} jadasti
Name[ga]=Srathóir %{APPNAME}
Name[nds]=%{APPNAME}-Reegmoduul
Name[pt]=Serialização do %{APPNAME}
Name[pt_BR]=Serialização do %{APPNAME}
Name[sv]=Serialisering av %{APPNAME}
Name[uk]=Перетворювач у послідовну форму %{APPNAME}
Name[x-test]=xx%{APPNAME} Serializerxx
Name[zh_CN]=%{APPNAME} 转换器
Name[zh_TW]=%{APPNAME} 序列器
Comment=An Akonadi serializer plugin for %{APPNAMELC}
Comment[en_GB]=An Akonadi serialiser plugin for %{APPNAMELC}
Comment[es]=Un complemento serializador de Akonadi para %{APPNAMELC}
Comment[et]=Akonadi %{APPNAMELC} jadasti plugin
Comment[nds]=En Akonadi-Reegmodul för %{APPNAMELC}
Comment[pt]=Um 'plugin' de serialização do Akonadi para o %{APPNAMELC}
Comment[pt_BR]=Um plugin de serialização do Akonadi para o %{APPNAMELC}
Comment[sv]=Ett Akonadi insticksprogram för serialisering av %{APPNAMELC}
Comment[uk]=Додаток перетворення у послідовну форму Akonadi для %{APPNAMELC}
Comment[x-test]=xxAn Akonadi serializer plugin for %{APPNAMELC}xx
Comment[zh_CN]=%{APPNAMELC} 的 Akonadi 转换器插件
Comment[zh_TW]=%{APPNAMELC} 的 Akonadi 序列器外掛程式

[Plugin]
Type=application/x-vnd.kde.%{APPNAMELC}
X-KDE-Library=akonadi_serializer_%{APPNAMELC}
