# KDE Config File
[Desktop Entry]
Type=Application
Exec=kapptemplate
StartupWMClass=kapptemplate
Icon=kapptemplate
X-DocPath=kapptemplate/index.html
GenericName=App Code Template Generator
GenericName[ca]=Generador de plantilles de codi d'aplicació
GenericName[ca@valencia]=Generador de plantilles de codi d'aplicació
GenericName[cs]=Generátor šablon App Code
GenericName[de]=Vorlagengenerator für Programmcode
GenericName[el]=Γεννήτρια προτύπων κώδικα εφαρμογών
GenericName[en_GB]=App Code Template Generator
GenericName[es]=Generador de plantillas de código de aplicaciones
GenericName[et]=Rakenduse koodi malli generaator
GenericName[eu]=Aplikazio kodearen txantiloi sortzailea
GenericName[fr]=Générateur de modèles de code d'applications
GenericName[gl]=Xerador de modelos de código de aplicativo
GenericName[hi]=एप्प कोड टैम्प्लेट जनरेटर
GenericName[it]=Generatore di modelli di applicazioni
GenericName[ko]=앱 코드 템플릿 생성기
GenericName[nl]=Sjabloongenerator van App Code
GenericName[nn]=Malgenerator for programkode
GenericName[pl]=Twórca szablonów kodu aplikacji
GenericName[pt]=Gerador de Modelos de Código de Aplicações
GenericName[pt_BR]=Gerador de modelo de código de aplicativo
GenericName[ru]=Генератор шаблонов приложений
GenericName[sl]=Generator predlog kode
GenericName[sv]=Generering av programkodsmallar
GenericName[uk]=Створення шаблонів коду програм
GenericName[x-test]=xxApp Code Template Generatorxx
GenericName[zh_CN]=应用代码模板生成器
GenericName[zh_TW]=App 程式碼範本產生器
Terminal=false
Name=KAppTemplate
Name[bs]=KAppTemplate
Name[ca]=KAppTemplate
Name[ca@valencia]=KAppTemplate
Name[cs]=KAppTemplate
Name[da]=KAppTemplate
Name[de]=KAppTemplate
Name[el]=Πρότυπο KApp
Name[en_GB]=KAppTemplate
Name[es]=KAppTemplate
Name[et]=KAppTemplate
Name[eu]=KAppTemplate
Name[fi]=KAppTemplate
Name[fr]=KAppTemplate
Name[ga]=KAppTemplate
Name[gl]=KAppTemplate
Name[hi]=केएपटैम्प्लेट
Name[hu]=KAppTemplate
Name[it]=KAppTemplate
Name[ja]=KAppTemplate
Name[kk]=KAppTemplate
Name[km]=KAppTemplate
Name[ko]=KAppTemplate
Name[lt]=KAppTemplate
Name[lv]=KAppTemplate
Name[nb]=KAppTemplate
Name[nds]=KAppTemplate
Name[ne]=केडीई अनुप्रयोग टेम्प्लेट
Name[nl]=KAppTemplate
Name[nn]=KAppTemplate
Name[pl]=Szablon programu
Name[pt]=KAppTemplate
Name[pt_BR]=KTemplate
Name[ro]=KAppTemplate
Name[ru]=KAppTemplate
Name[sk]=KAppTemplate
Name[sl]=KAppTemplate
Name[sq]=KAppTemplate
Name[sr]=К‑шаблон-програма
Name[sr@ijekavian]=К‑шаблон-програма
Name[sr@ijekavianlatin]=K‑šablon-programa
Name[sr@latin]=K‑šablon-programa
Name[sv]=Kapptemplate
Name[tr]=KAppTemplate
Name[ug]=KAppTemplate
Name[uk]=KAppTemplate
Name[x-test]=xxKAppTemplatexx
Name[zh_CN]=KAppTemplate
Name[zh_TW]=KAppTemplate
Categories=Qt;KDE;Development;
