# KDE Config File
[Desktop Entry]
Type=Application
Exec=kapptemplate
StartupWMClass=kapptemplate
Icon=kapptemplate
X-DocPath=kapptemplate/index.html
GenericName=App Code Template Generator
Terminal=false
Name=KAppTemplate
Categories=Qt;KDE;Development;
