[Desktop Entry]
Name=%{APPNAME}
Name[x-test]=xx%{APPNAME}xx
Comment=%{APPNAME} runner
Comment[de]=%{APPNAME}
Comment[el]=εκτελεστής %{APPNAME}
Comment[es]=Lanzador para %{APPNAME}
Comment[fr]=Lanceur %{APPNAME}
Comment[gl]=Executor %{APPNAME}
Comment[it]=Esecutore di %{APPNAME}
Comment[km]=កម្មវិធី​រត់ %{APPNAME}​
Comment[nds]=%{APPNAME}-Dreger
Comment[pt]=Execução do %{APPNAME}
Comment[pt_BR]=Execução do %{APPNAME}
Comment[sv]=Körning av %{APPNAME}
Comment[tr]=%{APPNAME} çalıştırıcı
Comment[uk]=Засіб запуску %{APPNAME}
Comment[x-test]=xx%{APPNAME} runnerxx
Comment[zh_CN]=%{APPNAME} 启动器
Comment[zh_TW]=%{APPNAME} 執行器
Icon=

X-KDE-ServiceTypes=Plasma/Runner
Type=Service
X-KDE-Library=krunner_%{APPNAMELC}
X-KDE-PluginInfo-Author=%{AUTHOR}
X-KDE-PluginInfo-Email=%{EMAIL}
X-KDE-PluginInfo-Name=%{APPNAMELC}
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
